# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
.venv/
env/
venv/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
.history/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.swp
